@regcheq:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=glpat-esr7sik8fjxoNBVtSB3p
//gitlab.com/api/v4/projects/:_authToken=glpat-esr7sik8fjxoNBVtSB3p
legacy-peer-deps=true
